# index.html
---
layout: default
title: Home
---
<div class="home">
    <h1>Welcome to {{ site.title }}</h1>
    <p>{{ site.description }}</p>
    
    <h2>Latest Posts</h2>
    <ul>
        {% for post in site.posts limit:3 %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    
    <h2>Featured Projects</h2>
    <ul>
        {% for project in site.projects limit:3 %}
        <li>
            <a href="{{ project.url }}">{{ project.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>